In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import seaborn as sns

In [4]:
import matplotlib.pyplot as plt

#machine learning functions
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score
#for manipulating dates and times
import datetime as dt

#for suppressing all warnings
import warnings
warnings.filterwarnings("ignore")

In [12]:
data = pd.read_csv('C:/Users/Arunima/Downloads/data.csv',encoding="Latin-1", low_memory=False )

In [13]:
data

,Loan ID,Amount Requested,Amount Funded By Investors,Interest Rate,Loan Length,Application Date,Application Expiration Date,Issued Date,CREDIT Grade,Loan Title,...,Inquiries in the Last 6 Months,Accounts Now Delinquent,Delinquent Amount,Delinquencies (Last 2 yrs),Months Since Last Delinquency,Public Records On File,Months Since Last Record,Education,Employment Length,Code
0,87023,7500.0,7500.0,13.75%,36 months,2007-06-07,2007-06-21,2007-06-27,E2,Consolidation Loan,...,0.0,0.0,0.0,1.0,11.0,0.0,0.0,NaN,< 1 year,NaN
1,90376,5000.0,5000.0,7.43%,36 months,2007-06-12,2007-06-26,2007-07-02,A2,JAL Loan,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,< 1 year,NaN
2,90395,5000.0,5000.0,8.07%,36 months,2007-06-12,2007-06-26,2007-07-02,A4,MBA Loan Consolidation,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,< 1 year,NaN
3,90665,8500.0,8500.0,10.28%,36 months,2007-06-13,2007-06-27,2007-07-03,C1,Retiring credit card debt,...,1.0,0.0,0.0,1.0,5.0,0.0,0.0,NaN,3 years,NaN
4,92187,2500.0,2500.0,8.07%,36 months,2007-06-15,2007-06-29,2007-07-05,A4,Home Improvement,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,4 years,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36391,641066,2500.0,2500.0,14.83%,60 months,2010-12-28,2011-01-11,2010-12-30,D3,GETOUTOFJAIL,...,4.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,6 years,449370.0
36392,641193,5000.0,5000.0,15.20%,36 months,2010-12-28,2011-01-11,2010-12-30,D4,personal loan,...,5.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,5 years,449370.0
36393,641638,3500.0,3500.0,15.57%,60 months,2010-12-29,2011-01-12,2010-12-31,D5,auto loan,...,7.0,0.0,0.0,0.0,48.0,0.0,NaN,NaN,10+ years,NaN
36394,641659,20000.0,2925.0,19.66%,60 months,2010-12-29,2011-01-12,2010-12-31,G1,ex payoff loan,...,5.0,0.0,0.0,1.0,19.0,0.0,NaN,NaN,10+ years,449382.0
36395,642818,2950.0,2950.0,15.95%,60 months,2010-12-30,2011-01-13,2010-12-31,E1,Personnel loan,...,5.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,< 1 year,NaN

In [14]:
data.head(5)

,Loan ID,Amount Requested,Amount Funded By Investors,Interest Rate,Loan Length,Application Date,Application Expiration Date,Issued Date,CREDIT Grade,Loan Title,...,Inquiries in the Last 6 Months,Accounts Now Delinquent,Delinquent Amount,Delinquencies (Last 2 yrs),Months Since Last Delinquency,Public Records On File,Months Since Last Record,Education,Employment Length,Code
0,87023,7500.0,7500.0,13.75%,36 months,2007-06-07,2007-06-21,2007-06-27,E2,Consolidation Loan,...,0.0,0.0,0.0,1.0,11.0,0.0,0.0,NaN,< 1 year,NaN
1,90376,5000.0,5000.0,7.43%,36 months,2007-06-12,2007-06-26,2007-07-02,A2,JAL Loan,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,< 1 year,NaN
2,90395,5000.0,5000.0,8.07%,36 months,2007-06-12,2007-06-26,2007-07-02,A4,MBA Loan Consolidation,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,< 1 year,NaN
3,90665,8500.0,8500.0,10.28%,36 months,2007-06-13,2007-06-27,2007-07-03,C1,Retiring credit card debt,...,1.0,0.0,0.0,1.0,5.0,0.0,0.0,NaN,3 years,NaN
4,92187,2500.0,2500.0,8.07%,36 months,2007-06-15,2007-06-29,2007-07-05,A4,Home Improvement,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,4 years,NaN

In [15]:
data.shape

(36396, 41)

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36396 entries, 0 to 36395
Data columns (total 41 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Loan ID                                  36396 non-null  object
 1   Amount Requested                         36395 non-null  float64
 2   Amount Funded By Investors               36395 non-null  float64
 3   Interest Rate                            36395 non-null  object
 4   Loan Length                              36395 non-null  object
 5   Application Date                         36395 non-null  object
 6   Application Expiration Date              36395 non-null  object
 7   Issued Date                              36219 non-null  object
 8   CREDIT Grade                             36395 non-null  object
 9   Loan Title                               36382 non-null  object
 10  Loan Purpose                             36395 non-null  object
 11  Loan Description                         25852 non-null  object
 12  Monthly PAYMENT                          36395 non-null  float64
 13  Status                                   36395 non-null  object
 14  Total Amount Funded                      36395 non-null  float64
 15  Debt-To-Income Ratio                     36395 non-null  object
 16  Remaining Principal Funded by Investors  36395 non-null  float64
 17  Payments To Date (Funded by investors)   36395 non-null  float64
 18  Remaining Principal                      36395 non-null  float64
 19   Payments To Date                        36395 non-null  float64
 20  Screen Name                              36394 non-null  object
 21  City                                     36395 non-null  object
 22  State                                    36395 non-null  object
 23  Home Ownership                           36395 non-null  object
 24  Monthly Income                           36395 non-null  float64
 25  FICO Range                               36378 non-null  object
 26  Earliest CREDIT Line                     36366 non-null  object
 27  Open CREDIT Lines                        36366 non-null  float64
 28  Total CREDIT Lines                       36366 non-null  float64
 29  Revolving CREDIT Balance                 36366 non-null  float64
 30  Revolving Line Utilization               36308 non-null  object
 31  Inquiries in the Last 6 Months           36366 non-null  float64
 32  Accounts Now Delinquent                  36366 non-null  float64
 33  Delinquent Amount                        36366 non-null  float64
 34  Delinquencies (Last 2 yrs)               36366 non-null  float64
 35  Months Since Last Delinquency            13701 non-null  float64
 36  Public Records On File                   36366 non-null  float64
 37  Months Since Last Record                 3432 non-null   float64
 38  Education                                5873 non-null   object
 39  Employment Length                        35492 non-null  object
 40  Code                                     25475 non-null  float64
dtypes: float64(20), object(21)
memory usage: 11.4+ MB

In [17]:
i=0
print("Details of "+str(i)+"th profile from the dataset :\n\nAttributes\n")
print(data.iloc[i])

Details of 0th profile from the dataset :

Attributes

Loan ID                                                                                87023
Amount Requested                                                                      7500.0
Amount Funded By Investors                                                            7500.0
Interest Rate                                                                         13.75%
Loan Length                                                                        36 months
Application Date                                                                  2007-06-07
Application Expiration Date                                                       2007-06-21
Issued Date                                                                       2007-06-27
CREDIT Grade                                                                              E2
Loan Title                                                                Consolidation Loan
Loan Purpose                                                              debt_consolidation
Loan Description                           I plan to consolidate over $7,000 of debt: a c...
Monthly PAYMENT                                                                       255.43
Status                                                                            Fully Paid
Total Amount Funded                                                                   7500.0
Debt-To-Income Ratio                                                                  14.29%
Remaining Principal Funded by Investors                                                  0.0
Payments To Date (Funded by investors)                                               9194.98
Remaining Principal                                                                      0.0
 Payments To Date                                                                    9194.98
Screen Name                                                                        Kingtrite
City                                                                               Attleboro
State                                                                                     MA
Home Ownership                                                                           OWN
Monthly Income                                                                       1833.33
FICO Range                                                                           660-678
Earliest CREDIT Line                                                              2003-10-27
Open CREDIT Lines                                                                        7.0
Total CREDIT Lines                                                                       8.0
Revolving CREDIT Balance                                                              4175.0
Revolving Line Utilization                                                             51.5%
Inquiries in the Last 6 Months                                                           0.0
Accounts Now Delinquent                                                                  0.0
Delinquent Amount                                                                        0.0
Delinquencies (Last 2 yrs)                                                               1.0
Months Since Last Delinquency                                                           11.0
Public Records On File                                                                   0.0
Months Since Last Record                                                                 0.0
Education                                                                                NaN
Employment Length                                                                   < 1 year
Code                                                                                     NaN
Name: 0, dtype: object

In [18]:
print("Display the starting 5 profiles from the dataset :")

Display the starting 5 profiles from the dataset :

In [19]:
data.head()

,Loan ID,Amount Requested,Amount Funded By Investors,Interest Rate,Loan Length,Application Date,Application Expiration Date,Issued Date,CREDIT Grade,Loan Title,...,Inquiries in the Last 6 Months,Accounts Now Delinquent,Delinquent Amount,Delinquencies (Last 2 yrs),Months Since Last Delinquency,Public Records On File,Months Since Last Record,Education,Employment Length,Code
0,87023,7500.0,7500.0,13.75%,36 months,2007-06-07,2007-06-21,2007-06-27,E2,Consolidation Loan,...,0.0,0.0,0.0,1.0,11.0,0.0,0.0,NaN,< 1 year,NaN
1,90376,5000.0,5000.0,7.43%,36 months,2007-06-12,2007-06-26,2007-07-02,A2,JAL Loan,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,< 1 year,NaN
2,90395,5000.0,5000.0,8.07%,36 months,2007-06-12,2007-06-26,2007-07-02,A4,MBA Loan Consolidation,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,< 1 year,NaN
3,90665,8500.0,8500.0,10.28%,36 months,2007-06-13,2007-06-27,2007-07-03,C1,Retiring credit card debt,...,1.0,0.0,0.0,1.0,5.0,0.0,0.0,NaN,3 years,NaN
4,92187,2500.0,2500.0,8.07%,36 months,2007-06-15,2007-06-29,2007-07-05,A4,Home Improvement,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,4 years,NaN

In [20]:
print("Selecting particular rows from the dataset : ")

Selecting particular rows from the dataset :

In [21]:
data.loc[(data['Amount Requested'] > 7000)].head(3)

,Loan ID,Amount Requested,Amount Funded By Investors,Interest Rate,Loan Length,Application Date,Application Expiration Date,Issued Date,CREDIT Grade,Loan Title,...,Inquiries in the Last 6 Months,Accounts Now Delinquent,Delinquent Amount,Delinquencies (Last 2 yrs),Months Since Last Delinquency,Public Records On File,Months Since Last Record,Education,Employment Length,Code
0,87023,7500.0,7500.0,13.75%,36 months,2007-06-07,2007-06-21,2007-06-27,E2,Consolidation Loan,...,0.0,0.0,0.0,1.0,11.0,0.0,0.0,NaN,< 1 year,NaN
3,90665,8500.0,8500.0,10.28%,36 months,2007-06-13,2007-06-27,2007-07-03,C1,Retiring credit card debt,...,1.0,0.0,0.0,1.0,5.0,0.0,0.0,NaN,3 years,NaN
19,101579,10000.0,10000.0,10.28%,36 months,2007-06-27,2007-07-11,2007-07-17,C1,Web Design Business Expansion Loan,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,< 1 year,NaN

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36396 entries, 0 to 36395
Data columns (total 41 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Loan ID                                  36396 non-null  object
 1   Amount Requested                         36395 non-null  float64
 2   Amount Funded By Investors               36395 non-null  float64
 3   Interest Rate                            36395 non-null  object
 4   Loan Length                              36395 non-null  object
 5   Application Date                         36395 non-null  object
 6   Application Expiration Date              36395 non-null  object
 7   Issued Date                              36219 non-null  object
 8   CREDIT Grade                             36395 non-null  object
 9   Loan Title                               36382 non-null  object
 10  Loan Purpose                             36395 non-null  object
 11  Loan Description                         25852 non-null  object
 12  Monthly PAYMENT                          36395 non-null  float64
 13  Status                                   36395 non-null  object
 14  Total Amount Funded                      36395 non-null  float64
 15  Debt-To-Income Ratio                     36395 non-null  object
 16  Remaining Principal Funded by Investors  36395 non-null  float64
 17  Payments To Date (Funded by investors)   36395 non-null  float64
 18  Remaining Principal                      36395 non-null  float64
 19   Payments To Date                        36395 non-null  float64
 20  Screen Name                              36394 non-null  object
 21  City                                     36395 non-null  object
 22  State                                    36395 non-null  object
 23  Home Ownership                           36395 non-null  object
 24  Monthly Income                           36395 non-null  float64
 25  FICO Range                               36378 non-null  object
 26  Earliest CREDIT Line                     36366 non-null  object
 27  Open CREDIT Lines                        36366 non-null  float64
 28  Total CREDIT Lines                       36366 non-null  float64
 29  Revolving CREDIT Balance                 36366 non-null  float64
 30  Revolving Line Utilization               36308 non-null  object
 31  Inquiries in the Last 6 Months           36366 non-null  float64
 32  Accounts Now Delinquent                  36366 non-null  float64
 33  Delinquent Amount                        36366 non-null  float64
 34  Delinquencies (Last 2 yrs)               36366 non-null  float64
 35  Months Since Last Delinquency            13701 non-null  float64
 36  Public Records On File                   36366 non-null  float64
 37  Months Since Last Record                 3432 non-null   float64
 38  Education                                5873 non-null   object
 39  Employment Length                        35492 non-null  object
 40  Code                                     25475 non-null  float64
dtypes: float64(20), object(21)
memory usage: 11.4+ MB

In [23]:
print("Display unique values from the attribute \"Status\":\n")

Display unique values from the attribute "Status":

In [24]:
i=1
for item in data.Status.unique():
    print(i,item)
    i+=1

1 Fully Paid
2 Charged Off
3 Late (31-120 days)
4 Performing Payment Plan
5 Default
6 In Grace Period
7 Current
8 Late (16-30 days)
9 Issued
10 In Review
11 nan
12 Does not meet the current credit policy  Status: Fully Paid
13 Does not meet the current credit policy  Status: Performing Payment Plan
14 Does not meet the current credit policy  Status: Charged Off
15 Does not meet the current credit policy  Status: Late (31-120 days)
16 Does not meet the current credit policy  Status: In Grace Period
17 Does not meet the current credit policy  Status: Late (16-30 days)
18 Does not meet the current credit policy  Status: Current
19 Does not meet the current credit policy  Status: Default

In [27]:
data_with_loanstatus_sliced = data[(data['Status']=="Fully Paid")]

In [28]:
data_with_loanstatus_sliced

,Loan ID,Amount Requested,Amount Funded By Investors,Interest Rate,Loan Length,Application Date,Application Expiration Date,Issued Date,CREDIT Grade,Loan Title,...,Inquiries in the Last 6 Months,Accounts Now Delinquent,Delinquent Amount,Delinquencies (Last 2 yrs),Months Since Last Delinquency,Public Records On File,Months Since Last Record,Education,Employment Length,Code
0,87023,7500.0,7500.0,13.75%,36 months,2007-06-07,2007-06-21,2007-06-27,E2,Consolidation Loan,...,0.0,0.0,0.0,1.0,11.0,0.0,0.0,NaN,< 1 year,NaN
1,90376,5000.0,5000.0,7.43%,36 months,2007-06-12,2007-06-26,2007-07-02,A2,JAL Loan,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,< 1 year,NaN
2,90395,5000.0,5000.0,8.07%,36 months,2007-06-12,2007-06-26,2007-07-02,A4,MBA Loan Consolidation,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,< 1 year,NaN
3,90665,8500.0,8500.0,10.28%,36 months,2007-06-13,2007-06-27,2007-07-03,C1,Retiring credit card debt,...,1.0,0.0,0.0,1.0,5.0,0.0,0.0,NaN,3 years,NaN
4,92187,2500.0,2500.0,8.07%,36 months,2007-06-15,2007-06-29,2007-07-05,A4,Home Improvement,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,4 years,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29954,843071,35000.0,10375.0,20.99%,60 months,2011-08-05,2011-08-19,2011-08-22,F3,landscaping and pool,...,0.0,0.0,0.0,1.0,11.0,0.0,NaN,NaN,2 years,490265.0
30086,820281,29800.0,28975.0,10.99%,36 months,2011-08-08,2011-08-22,2011-08-25,B3,Other Loan,...,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,10+ years,449370.0
30301,848888,10000.0,10000.0,8.49%,36 months,2011-08-11,2011-08-25,2011-08-24,A5,Loan 1,...,0.0,0.0,0.0,0.0,NaN,1.0,89.0,NaN,2 years,1008.0
30518,852793,23675.0,23675.0,12.99%,60 months,2011-08-15,2011-08-29,2011-08-29,C1,Payoff and Rv,...,3.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,4 years,449382.0
30916,859754,7000.0,7000.0,13.99%,36 months,2011-08-21,2011-09-04,2011-08-29,C3,Med bills,...,2.0,0.0,0.0,1.0,19.0,0.0,NaN,NaN,2 years,449370.0

In [29]:
(data['Status']=="Charged Off")

0        False
1        False
2        False
3        False
4        False
         ...
36391    False
36392    False
36393    False
36394    False
36395    False
Name: Status, Length: 36396, dtype: bool

In [30]:
 (data['Status']=="Default")

0        False
1        False
2        False
3        False
4        False
         ...
36391    False
36392    False
36393    False
36394    False
36395    False
Name: Status, Length: 36396, dtype: bool

In [33]:
data['Status']=="Does not meet the current credit policy  Status: Late (31-120 days)"

0        False
1        False
2        False
3        False
4        False
         ...
36391    False
36392    False
36393    False
36394    False
36395    False
Name: Status, Length: 36396, dtype: bool

In [42]:
di = {"Fully Paid":0},
{"Charged Off":5}

{'Charged Off': 5}

In [43]:
data= data_with_loanstatus_sliced.replace({"Status": di})

In [44]:
data

,Loan ID,Amount Requested,Amount Funded By Investors,Interest Rate,Loan Length,Application Date,Application Expiration Date,Issued Date,CREDIT Grade,Loan Title,...,Inquiries in the Last 6 Months,Accounts Now Delinquent,Delinquent Amount,Delinquencies (Last 2 yrs),Months Since Last Delinquency,Public Records On File,Months Since Last Record,Education,Employment Length,Code
0,87023,7500.0,7500.0,13.75%,36 months,2007-06-07,2007-06-21,2007-06-27,E2,Consolidation Loan,...,0.0,0.0,0.0,1.0,11.0,0.0,0.0,NaN,< 1 year,NaN
1,90376,5000.0,5000.0,7.43%,36 months,2007-06-12,2007-06-26,2007-07-02,A2,JAL Loan,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,< 1 year,NaN
2,90395,5000.0,5000.0,8.07%,36 months,2007-06-12,2007-06-26,2007-07-02,A4,MBA Loan Consolidation,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,< 1 year,NaN
3,90665,8500.0,8500.0,10.28%,36 months,2007-06-13,2007-06-27,2007-07-03,C1,Retiring credit card debt,...,1.0,0.0,0.0,1.0,5.0,0.0,0.0,NaN,3 years,NaN
4,92187,2500.0,2500.0,8.07%,36 months,2007-06-15,2007-06-29,2007-07-05,A4,Home Improvement,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,4 years,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29954,843071,35000.0,10375.0,20.99%,60 months,2011-08-05,2011-08-19,2011-08-22,F3,landscaping and pool,...,0.0,0.0,0.0,1.0,11.0,0.0,NaN,NaN,2 years,490265.0
30086,820281,29800.0,28975.0,10.99%,36 months,2011-08-08,2011-08-22,2011-08-25,B3,Other Loan,...,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,10+ years,449370.0
30301,848888,10000.0,10000.0,8.49%,36 months,2011-08-11,2011-08-25,2011-08-24,A5,Loan 1,...,0.0,0.0,0.0,0.0,NaN,1.0,89.0,NaN,2 years,1008.0
30518,852793,23675.0,23675.0,12.99%,60 months,2011-08-15,2011-08-29,2011-08-29,C1,Payoff and Rv,...,3.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,4 years,449382.0
30916,859754,7000.0,7000.0,13.99%,36 months,2011-08-21,2011-09-04,2011-08-29,C3,Med bills,...,2.0,0.0,0.0,1.0,19.0,0.0,NaN,NaN,2 years,449370.0

In [45]:
print("Unique values in \"Status\" attibute : \n", data['Status'].value_counts())

Unique values in "Status" attibute :
 Fully Paid    4572
Name: Status, dtype: int64

In [47]:
print("Unique values in \"Status\" attibute : \n", data['Status'].value_counts())

Unique values in "Status" attibute :
 Fully Paid    4572
Name: Status, dtype: int64

In [48]:
print("\nCurrent shape of dataset :",data.shape)

Current shape of dataset : (4572, 41)

In [53]:
print("Values of the status column :")
print(data['Status'])

Values of the status column :
0        Fully Paid
1        Fully Paid
2        Fully Paid
3        Fully Paid
4        Fully Paid
            ...
29954    Fully Paid
30086    Fully Paid
30301    Fully Paid
30518    Fully Paid
30916    Fully Paid
Name: Status, Length: 4572, dtype: object

In [ ]:
print("Sample values in the attribute - Amount Funded By Investors\n")

In [56]:
print(data['Amount Funded By Investors'])

0         7500.0
1         5000.0
2         5000.0
3         8500.0
4         2500.0
          ...
29954    10375.0
30086    28975.0
30301    10000.0
30518    23675.0
30916     7000.0
Name: Amount Funded By Investors, Length: 4572, dtype: float64

In [57]:
print("Monthly PAYMENT : ", end='')

Monthly PAYMENT :

In [58]:
print(data['Monthly PAYMENT'].dtype)

float64

In [59]:
print("Monthly Income : ", end='')

Monthly Income :

In [60]:
print(data['Monthly Income'].dtype)

float64

In [67]:
print("Total CREDIT Lines : ", end='')

Total CREDIT Lines :

In [68]:
print("Revolving CREDIT Lines", end='')

Revolving CREDIT Lines

In [69]:
print(data['Revolving CREDIT Balance'].dtype)

float64

In [70]:
print("Inquiries in the Last 6 Months : ", end='')

Inquiries in the Last 6 Months :

In [71]:
print(data['Inquiries in the Last 6 Months'].dtype)

float64

In [72]:
print("Delinquencies (Last 2 yrs) : ", end='')

Delinquencies (Last 2 yrs) :

In [73]:
print(data['Delinquencies (Last 2 yrs)'].dtype)

float64

In [74]:
print("Public Records On File : ", end='')

Public Records On File :

In [80]:
print(data['Delinquencies (Last 2 yrs)'].dtype)

float64

In [81]:
print("Public Records On File : ", end='')

Public Records On File :

In [82]:
print(data['Public Records On File'].dtype)

float64

In [83]:
print("Months Since Last Record : ", end='')

Months Since Last Record :

In [85]:
print(data['Months Since Last Record'].dtype)

float64

In [86]:
print("Amount Requested : ", end='')

Amount Requested :

In [87]:
print(data['Amount Requested'].dtype)

float64

In [88]:
print("Total Amount Funded :", end='')

Total Amount Funded :

In [89]:
print(data['Total Amount Funded'].dtype)

float64

In [90]:
print("Remaining Principal Funded by Investigator")

Remaining Principal Funded by Investigator

In [92]:
print(data['Remaining Principal Funded by Investors'].dtype)

float64

In [93]:
print("Payments To Date (Funded by investors) :", end='')

Payments To Date (Funded by investors) :

In [100]:
print(data['Payments To Date (Funded by investors)'].dtype)

float64

In [101]:
print("Remaining Principal :", end='')

Remaining Principal :

In [106]:
print(data['Remaining Principal '].dtype)

float64

In [107]:
print("Payments to Date")

Payments to Date

In [110]:
print("Sample values in the attribute - Earliest CREDIT Line\n")

Sample values in the attribute - Earliest CREDIT Line

In [112]:
print(['Earliest Credit Line'])

['Earliest Credit Line']

In [116]:
data['Earliest CREDIT Line'] = pd.to_datetime(data['Earliest CREDIT Line'])

In [117]:
data['Earliest CREDIT Line'].isna().any()

False

In [118]:
print('Eraliest CREDIT Line')

Eraliest CREDIT Line

In [120]:
data1 = data['Amount Funded By Investors']

In [121]:
data1

0         7500.0
1         5000.0
2         5000.0
3         8500.0
4         2500.0
          ...
29954    10375.0
30086    28975.0
30301    10000.0
30518    23675.0
30916     7000.0
Name: Amount Funded By Investors, Length: 4572, dtype: float64

In [122]:
data1.head()

0    7500.0
1    5000.0
2    5000.0
3    8500.0
4    2500.0
Name: Amount Funded By Investors, dtype: float64

In [126]:
data['Amount Funded By Investors'].isna().any()

False

In [127]:
data['Application Date'].isna().any()

False

In [129]:
print(data['Interest Rate'])

0        13.75%
1         7.43%
2         8.07%
3        10.28%
4         8.07%
          ...
29954    20.99%
30086    10.99%
30301     8.49%
30518    12.99%
30916    13.99%
Name: Interest Rate, Length: 4572, dtype: object

In [136]:
data['Interest Rate'] = data['Interest Rate'].replace({'%':''}, regex = True)

In [137]:
data

,Loan ID,Amount Requested,Amount Funded By Investors,Interest Rate,Loan Length,Application Date,Application Expiration Date,Issued Date,CREDIT Grade,Loan Title,...,Inquiries in the Last 6 Months,Accounts Now Delinquent,Delinquent Amount,Delinquencies (Last 2 yrs),Months Since Last Delinquency,Public Records On File,Months Since Last Record,Education,Employment Length,Code
0,87023,7500.0,7500.0,13.75,36 months,2007-06-07,2007-06-21,2007-06-27,E2,Consolidation Loan,...,0.0,0.0,0.0,1.0,11.0,0.0,0.0,NaN,< 1 year,NaN
1,90376,5000.0,5000.0,7.43,36 months,2007-06-12,2007-06-26,2007-07-02,A2,JAL Loan,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,< 1 year,NaN
2,90395,5000.0,5000.0,8.07,36 months,2007-06-12,2007-06-26,2007-07-02,A4,MBA Loan Consolidation,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,< 1 year,NaN
3,90665,8500.0,8500.0,10.28,36 months,2007-06-13,2007-06-27,2007-07-03,C1,Retiring credit card debt,...,1.0,0.0,0.0,1.0,5.0,0.0,0.0,NaN,3 years,NaN
4,92187,2500.0,2500.0,8.07,36 months,2007-06-15,2007-06-29,2007-07-05,A4,Home Improvement,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,4 years,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29954,843071,35000.0,10375.0,20.99,60 months,2011-08-05,2011-08-19,2011-08-22,F3,landscaping and pool,...,0.0,0.0,0.0,1.0,11.0,0.0,NaN,NaN,2 years,490265.0
30086,820281,29800.0,28975.0,10.99,36 months,2011-08-08,2011-08-22,2011-08-25,B3,Other Loan,...,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,10+ years,449370.0
30301,848888,10000.0,10000.0,8.49,36 months,2011-08-11,2011-08-25,2011-08-24,A5,Loan 1,...,0.0,0.0,0.0,0.0,NaN,1.0,89.0,NaN,2 years,1008.0
30518,852793,23675.0,23675.0,12.99,60 months,2011-08-15,2011-08-29,2011-08-29,C1,Payoff and Rv,...,3.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,4 years,449382.0
30916,859754,7000.0,7000.0,13.99,36 months,2011-08-21,2011-09-04,2011-08-29,C3,Med bills,...,2.0,0.0,0.0,1.0,19.0,0.0,NaN,NaN,2 years,449370.0

In [138]:
data['Interest Rate'] = data['Interest Rate'].replace({'%':''}, regex = True)

In [139]:
data

,Loan ID,Amount Requested,Amount Funded By Investors,Interest Rate,Loan Length,Application Date,Application Expiration Date,Issued Date,CREDIT Grade,Loan Title,...,Inquiries in the Last 6 Months,Accounts Now Delinquent,Delinquent Amount,Delinquencies (Last 2 yrs),Months Since Last Delinquency,Public Records On File,Months Since Last Record,Education,Employment Length,Code
0,87023,7500.0,7500.0,13.75,36 months,2007-06-07,2007-06-21,2007-06-27,E2,Consolidation Loan,...,0.0,0.0,0.0,1.0,11.0,0.0,0.0,NaN,< 1 year,NaN
1,90376,5000.0,5000.0,7.43,36 months,2007-06-12,2007-06-26,2007-07-02,A2,JAL Loan,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,< 1 year,NaN
2,90395,5000.0,5000.0,8.07,36 months,2007-06-12,2007-06-26,2007-07-02,A4,MBA Loan Consolidation,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,< 1 year,NaN
3,90665,8500.0,8500.0,10.28,36 months,2007-06-13,2007-06-27,2007-07-03,C1,Retiring credit card debt,...,1.0,0.0,0.0,1.0,5.0,0.0,0.0,NaN,3 years,NaN
4,92187,2500.0,2500.0,8.07,36 months,2007-06-15,2007-06-29,2007-07-05,A4,Home Improvement,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,4 years,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29954,843071,35000.0,10375.0,20.99,60 months,2011-08-05,2011-08-19,2011-08-22,F3,landscaping and pool,...,0.0,0.0,0.0,1.0,11.0,0.0,NaN,NaN,2 years,490265.0
30086,820281,29800.0,28975.0,10.99,36 months,2011-08-08,2011-08-22,2011-08-25,B3,Other Loan,...,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,10+ years,449370.0
30301,848888,10000.0,10000.0,8.49,36 months,2011-08-11,2011-08-25,2011-08-24,A5,Loan 1,...,0.0,0.0,0.0,0.0,NaN,1.0,89.0,NaN,2 years,1008.0
30518,852793,23675.0,23675.0,12.99,60 months,2011-08-15,2011-08-29,2011-08-29,C1,Payoff and Rv,...,3.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,4 years,449382.0
30916,859754,7000.0,7000.0,13.99,36 months,2011-08-21,2011-09-04,2011-08-29,C3,Med bills,...,2.0,0.0,0.0,1.0,19.0,0.0,NaN,NaN,2 years,449370.0

In [140]:
data['Interest Rate'] = data['Interest Rate'].apply(lambda x : float(x))

In [141]:
data

,Loan ID,Amount Requested,Amount Funded By Investors,Interest Rate,Loan Length,Application Date,Application Expiration Date,Issued Date,CREDIT Grade,Loan Title,...,Inquiries in the Last 6 Months,Accounts Now Delinquent,Delinquent Amount,Delinquencies (Last 2 yrs),Months Since Last Delinquency,Public Records On File,Months Since Last Record,Education,Employment Length,Code
0,87023,7500.0,7500.0,13.75,36 months,2007-06-07,2007-06-21,2007-06-27,E2,Consolidation Loan,...,0.0,0.0,0.0,1.0,11.0,0.0,0.0,NaN,< 1 year,NaN
1,90376,5000.0,5000.0,7.43,36 months,2007-06-12,2007-06-26,2007-07-02,A2,JAL Loan,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,< 1 year,NaN
2,90395,5000.0,5000.0,8.07,36 months,2007-06-12,2007-06-26,2007-07-02,A4,MBA Loan Consolidation,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,< 1 year,NaN
3,90665,8500.0,8500.0,10.28,36 months,2007-06-13,2007-06-27,2007-07-03,C1,Retiring credit card debt,...,1.0,0.0,0.0,1.0,5.0,0.0,0.0,NaN,3 years,NaN
4,92187,2500.0,2500.0,8.07,36 months,2007-06-15,2007-06-29,2007-07-05,A4,Home Improvement,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,4 years,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29954,843071,35000.0,10375.0,20.99,60 months,2011-08-05,2011-08-19,2011-08-22,F3,landscaping and pool,...,0.0,0.0,0.0,1.0,11.0,0.0,NaN,NaN,2 years,490265.0
30086,820281,29800.0,28975.0,10.99,36 months,2011-08-08,2011-08-22,2011-08-25,B3,Other Loan,...,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,10+ years,449370.0
30301,848888,10000.0,10000.0,8.49,36 months,2011-08-11,2011-08-25,2011-08-24,A5,Loan 1,...,0.0,0.0,0.0,0.0,NaN,1.0,89.0,NaN,2 years,1008.0
30518,852793,23675.0,23675.0,12.99,60 months,2011-08-15,2011-08-29,2011-08-29,C1,Payoff and Rv,...,3.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,4 years,449382.0
30916,859754,7000.0,7000.0,13.99,36 months,2011-08-21,2011-09-04,2011-08-29,C3,Med bills,...,2.0,0.0,0.0,1.0,19.0,0.0,NaN,NaN,2 years,449370.0

In [142]:
print("Sample values in the attribute - Interest Rate, after processing\n")

Sample values in the attribute - Interest Rate, after processing

In [143]:
print(data['Interest Rate'])

0        13.75
1         7.43
2         8.07
3        10.28
4         8.07
         ...
29954    20.99
30086    10.99
30301     8.49
30518    12.99
30916    13.99
Name: Interest Rate, Length: 4572, dtype: float64

In [145]:
data['Debt-To-Income Ratio'] = data['Debt-To-Income Ratio'].replace({'%':''}, regex = True)

In [146]:
data['Debt-To-Income Ratio'] = data['Debt-To-Income Ratio'].apply(lambda x:float(x))

In [147]:
data['Revolving Line Utilization'] = data['Revolving Line Utilization'].replace({'%':''}, regex = True)

In [148]:
data['Revolving Line Utilization'] = data['Revolving Line Utilization'].apply(lambda x:float(x))

In [149]:
data

,Loan ID,Amount Requested,Amount Funded By Investors,Interest Rate,Loan Length,Application Date,Application Expiration Date,Issued Date,CREDIT Grade,Loan Title,...,Inquiries in the Last 6 Months,Accounts Now Delinquent,Delinquent Amount,Delinquencies (Last 2 yrs),Months Since Last Delinquency,Public Records On File,Months Since Last Record,Education,Employment Length,Code
0,87023,7500.0,7500.0,13.75,36 months,2007-06-07,2007-06-21,2007-06-27,E2,Consolidation Loan,...,0.0,0.0,0.0,1.0,11.0,0.0,0.0,NaN,< 1 year,NaN
1,90376,5000.0,5000.0,7.43,36 months,2007-06-12,2007-06-26,2007-07-02,A2,JAL Loan,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,< 1 year,NaN
2,90395,5000.0,5000.0,8.07,36 months,2007-06-12,2007-06-26,2007-07-02,A4,MBA Loan Consolidation,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,< 1 year,NaN
3,90665,8500.0,8500.0,10.28,36 months,2007-06-13,2007-06-27,2007-07-03,C1,Retiring credit card debt,...,1.0,0.0,0.0,1.0,5.0,0.0,0.0,NaN,3 years,NaN
4,92187,2500.0,2500.0,8.07,36 months,2007-06-15,2007-06-29,2007-07-05,A4,Home Improvement,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,4 years,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29954,843071,35000.0,10375.0,20.99,60 months,2011-08-05,2011-08-19,2011-08-22,F3,landscaping and pool,...,0.0,0.0,0.0,1.0,11.0,0.0,NaN,NaN,2 years,490265.0
30086,820281,29800.0,28975.0,10.99,36 months,2011-08-08,2011-08-22,2011-08-25,B3,Other Loan,...,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,10+ years,449370.0
30301,848888,10000.0,10000.0,8.49,36 months,2011-08-11,2011-08-25,2011-08-24,A5,Loan 1,...,0.0,0.0,0.0,0.0,NaN,1.0,89.0,NaN,2 years,1008.0
30518,852793,23675.0,23675.0,12.99,60 months,2011-08-15,2011-08-29,2011-08-29,C1,Payoff and Rv,...,3.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,4 years,449382.0
30916,859754,7000.0,7000.0,13.99,36 months,2011-08-21,2011-09-04,2011-08-29,C3,Med bills,...,2.0,0.0,0.0,1.0,19.0,0.0,NaN,NaN,2 years,449370.0

In [150]:
print("Sample values in the attribute - Loan Length\n")

Sample values in the attribute - Loan Length

In [151]:
print(data['Loan Length'])

0        36 months
1        36 months
2        36 months
3        36 months
4        36 months
           ...
29954    60 months
30086    36 months
30301    36 months
30518    60 months
30916    36 months
Name: Loan Length, Length: 4572, dtype: object

In [156]:
data['Loan Length'] = data['Loan Length'].replace({'months':''}, regex= True)

In [157]:
print(data['Loan Length'])

0        36
1        36
2        36
3        36
4        36
        ...
29954    60
30086    36
30301    36
30518    60
30916    36
Name: Loan Length, Length: 4572, dtype: object

In [159]:
data['Loan Length'] = data['Loan Length'].apply(lambda x: int(x))

In [160]:
data

,Loan ID,Amount Requested,Amount Funded By Investors,Interest Rate,Loan Length,Application Date,Application Expiration Date,Issued Date,CREDIT Grade,Loan Title,...,Inquiries in the Last 6 Months,Accounts Now Delinquent,Delinquent Amount,Delinquencies (Last 2 yrs),Months Since Last Delinquency,Public Records On File,Months Since Last Record,Education,Employment Length,Code
0,87023,7500.0,7500.0,13.75,36,2007-06-07,2007-06-21,2007-06-27,E2,Consolidation Loan,...,0.0,0.0,0.0,1.0,11.0,0.0,0.0,NaN,< 1 year,NaN
1,90376,5000.0,5000.0,7.43,36,2007-06-12,2007-06-26,2007-07-02,A2,JAL Loan,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,< 1 year,NaN
2,90395,5000.0,5000.0,8.07,36,2007-06-12,2007-06-26,2007-07-02,A4,MBA Loan Consolidation,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,< 1 year,NaN
3,90665,8500.0,8500.0,10.28,36,2007-06-13,2007-06-27,2007-07-03,C1,Retiring credit card debt,...,1.0,0.0,0.0,1.0,5.0,0.0,0.0,NaN,3 years,NaN
4,92187,2500.0,2500.0,8.07,36,2007-06-15,2007-06-29,2007-07-05,A4,Home Improvement,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,4 years,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29954,843071,35000.0,10375.0,20.99,60,2011-08-05,2011-08-19,2011-08-22,F3,landscaping and pool,...,0.0,0.0,0.0,1.0,11.0,0.0,NaN,NaN,2 years,490265.0
30086,820281,29800.0,28975.0,10.99,36,2011-08-08,2011-08-22,2011-08-25,B3,Other Loan,...,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,10+ years,449370.0
30301,848888,10000.0,10000.0,8.49,36,2011-08-11,2011-08-25,2011-08-24,A5,Loan 1,...,0.0,0.0,0.0,0.0,NaN,1.0,89.0,NaN,2 years,1008.0
30518,852793,23675.0,23675.0,12.99,60,2011-08-15,2011-08-29,2011-08-29,C1,Payoff and Rv,...,3.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,4 years,449382.0
30916,859754,7000.0,7000.0,13.99,36,2011-08-21,2011-09-04,2011-08-29,C3,Med bills,...,2.0,0.0,0.0,1.0,19.0,0.0,NaN,NaN,2 years,449370.0

In [163]:
data.rename(columns = {'CREDIT Grade':'CREDIT_Grade'},inplace = True)

In [164]:
print(data.CREDIT_Grade.unique())

['E2' 'A2' 'A4' 'C1' 'B1' 'C4' 'B5' 'B3' 'A5' 'A3' 'B2' 'C2' 'F4' 'C5'
 'D3' 'B4' 'D1' 'C3' 'D2' 'F2' 'A1' 'E4' 'F3' 'E5' 'D5' 'D4' 'E3' 'E1'
 'G5' 'F1' 'F5' 'G2' 'G1' 'G3']

In [166]:
data.rename(columns= {'CREDIT_Grade': 'CREDIT_GRADE_1'}, inplace = True)

In [167]:
data

,Loan ID,Amount Requested,Amount Funded By Investors,Interest Rate,Loan Length,Application Date,Application Expiration Date,Issued Date,CREDIT_GRADE_1,Loan Title,...,Inquiries in the Last 6 Months,Accounts Now Delinquent,Delinquent Amount,Delinquencies (Last 2 yrs),Months Since Last Delinquency,Public Records On File,Months Since Last Record,Education,Employment Length,Code
0,87023,7500.0,7500.0,13.75,36,2007-06-07,2007-06-21,2007-06-27,E2,Consolidation Loan,...,0.0,0.0,0.0,1.0,11.0,0.0,0.0,NaN,< 1 year,NaN
1,90376,5000.0,5000.0,7.43,36,2007-06-12,2007-06-26,2007-07-02,A2,JAL Loan,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,< 1 year,NaN
2,90395,5000.0,5000.0,8.07,36,2007-06-12,2007-06-26,2007-07-02,A4,MBA Loan Consolidation,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,< 1 year,NaN
3,90665,8500.0,8500.0,10.28,36,2007-06-13,2007-06-27,2007-07-03,C1,Retiring credit card debt,...,1.0,0.0,0.0,1.0,5.0,0.0,0.0,NaN,3 years,NaN
4,92187,2500.0,2500.0,8.07,36,2007-06-15,2007-06-29,2007-07-05,A4,Home Improvement,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,4 years,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29954,843071,35000.0,10375.0,20.99,60,2011-08-05,2011-08-19,2011-08-22,F3,landscaping and pool,...,0.0,0.0,0.0,1.0,11.0,0.0,NaN,NaN,2 years,490265.0
30086,820281,29800.0,28975.0,10.99,36,2011-08-08,2011-08-22,2011-08-25,B3,Other Loan,...,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,10+ years,449370.0
30301,848888,10000.0,10000.0,8.49,36,2011-08-11,2011-08-25,2011-08-24,A5,Loan 1,...,0.0,0.0,0.0,0.0,NaN,1.0,89.0,NaN,2 years,1008.0
30518,852793,23675.0,23675.0,12.99,60,2011-08-15,2011-08-29,2011-08-29,C1,Payoff and Rv,...,3.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,4 years,449382.0
30916,859754,7000.0,7000.0,13.99,36,2011-08-21,2011-09-04,2011-08-29,C3,Med bills,...,2.0,0.0,0.0,1.0,19.0,0.0,NaN,NaN,2 years,449370.0

In [170]:
print(data.CREDIT_GRADE_1.unique())

['E2' 'A2' 'A4' 'C1' 'B1' 'C4' 'B5' 'B3' 'A5' 'A3' 'B2' 'C2' 'F4' 'C5'
 'D3' 'B4' 'D1' 'C3' 'D2' 'F2' 'A1' 'E4' 'F3' 'E5' 'D5' 'D4' 'E3' 'E1'
 'G5' 'F1' 'F5' 'G2' 'G1' 'G3']

In [ ]:
print("Sample values in the attribute - CREDIT_Grade\n")

KeyError: 'CREDIT_Grade'

In [172]:
data

,Loan ID,Amount Requested,Amount Funded By Investors,Interest Rate,Loan Length,Application Date,Application Expiration Date,Issued Date,CREDIT_GRADE_1,Loan Title,...,Inquiries in the Last 6 Months,Accounts Now Delinquent,Delinquent Amount,Delinquencies (Last 2 yrs),Months Since Last Delinquency,Public Records On File,Months Since Last Record,Education,Employment Length,Code
0,87023,7500.0,7500.0,13.75,36,2007-06-07,2007-06-21,2007-06-27,E2,Consolidation Loan,...,0.0,0.0,0.0,1.0,11.0,0.0,0.0,NaN,< 1 year,NaN
1,90376,5000.0,5000.0,7.43,36,2007-06-12,2007-06-26,2007-07-02,A2,JAL Loan,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,< 1 year,NaN
2,90395,5000.0,5000.0,8.07,36,2007-06-12,2007-06-26,2007-07-02,A4,MBA Loan Consolidation,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,< 1 year,NaN
3,90665,8500.0,8500.0,10.28,36,2007-06-13,2007-06-27,2007-07-03,C1,Retiring credit card debt,...,1.0,0.0,0.0,1.0,5.0,0.0,0.0,NaN,3 years,NaN
4,92187,2500.0,2500.0,8.07,36,2007-06-15,2007-06-29,2007-07-05,A4,Home Improvement,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,4 years,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29954,843071,35000.0,10375.0,20.99,60,2011-08-05,2011-08-19,2011-08-22,F3,landscaping and pool,...,0.0,0.0,0.0,1.0,11.0,0.0,NaN,NaN,2 years,490265.0
30086,820281,29800.0,28975.0,10.99,36,2011-08-08,2011-08-22,2011-08-25,B3,Other Loan,...,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,10+ years,449370.0
30301,848888,10000.0,10000.0,8.49,36,2011-08-11,2011-08-25,2011-08-24,A5,Loan 1,...,0.0,0.0,0.0,0.0,NaN,1.0,89.0,NaN,2 years,1008.0
30518,852793,23675.0,23675.0,12.99,60,2011-08-15,2011-08-29,2011-08-29,C1,Payoff and Rv,...,3.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,4 years,449382.0
30916,859754,7000.0,7000.0,13.99,36,2011-08-21,2011-09-04,2011-08-29,C3,Med bills,...,2.0,0.0,0.0,1.0,19.0,0.0,NaN,NaN,2 years,449370.0

In [176]:
data.drop('Public Records On File', axis = 'columns')

,Loan ID,Amount Requested,Amount Funded By Investors,Interest Rate,Loan Length,Application Date,Application Expiration Date,Issued Date,CREDIT_GRADE_1,Loan Title,...,Revolving Line Utilization,Inquiries in the Last 6 Months,Accounts Now Delinquent,Delinquent Amount,Delinquencies (Last 2 yrs),Months Since Last Delinquency,Months Since Last Record,Education,Employment Length,Code
0,87023,7500.0,7500.0,13.75,36,2007-06-07,2007-06-21,2007-06-27,E2,Consolidation Loan,...,51.5,0.0,0.0,0.0,1.0,11.0,0.0,NaN,< 1 year,NaN
1,90376,5000.0,5000.0,7.43,36,2007-06-12,2007-06-26,2007-07-02,A2,JAL Loan,...,0.7,0.0,0.0,0.0,0.0,0.0,0.0,NaN,< 1 year,NaN
2,90395,5000.0,5000.0,8.07,36,2007-06-12,2007-06-26,2007-07-02,A4,MBA Loan Consolidation,...,19.4,0.0,0.0,0.0,0.0,0.0,0.0,NaN,< 1 year,NaN
3,90665,8500.0,8500.0,10.28,36,2007-06-13,2007-06-27,2007-07-03,C1,Retiring credit card debt,...,26.9,1.0,0.0,0.0,1.0,5.0,0.0,NaN,3 years,NaN
4,92187,2500.0,2500.0,8.07,36,2007-06-15,2007-06-29,2007-07-05,A4,Home Improvement,...,13.1,0.0,0.0,0.0,0.0,0.0,0.0,NaN,4 years,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29954,843071,35000.0,10375.0,20.99,60,2011-08-05,2011-08-19,2011-08-22,F3,landscaping and pool,...,43.4,0.0,0.0,0.0,1.0,11.0,NaN,NaN,2 years,490265.0
30086,820281,29800.0,28975.0,10.99,36,2011-08-08,2011-08-22,2011-08-25,B3,Other Loan,...,4.8,0.0,0.0,0.0,0.0,NaN,NaN,NaN,10+ years,449370.0
30301,848888,10000.0,10000.0,8.49,36,2011-08-11,2011-08-25,2011-08-24,A5,Loan 1,...,0.2,0.0,0.0,0.0,0.0,NaN,89.0,NaN,2 years,1008.0
30518,852793,23675.0,23675.0,12.99,60,2011-08-15,2011-08-29,2011-08-29,C1,Payoff and Rv,...,60.7,3.0,0.0,0.0,0.0,NaN,NaN,NaN,4 years,449382.0
30916,859754,7000.0,7000.0,13.99,36,2011-08-21,2011-09-04,2011-08-29,C3,Med bills,...,45.5,2.0,0.0,0.0,1.0,19.0,NaN,NaN,2 years,449370.0

In [177]:
data.rename(columns = {'Home Ownership':'Home_Ownership'}, inplace = True)

In [178]:
data

,Loan ID,Amount Requested,Amount Funded By Investors,Interest Rate,Loan Length,Application Date,Application Expiration Date,Issued Date,CREDIT_GRADE_1,Loan Title,...,Inquiries in the Last 6 Months,Accounts Now Delinquent,Delinquent Amount,Delinquencies (Last 2 yrs),Months Since Last Delinquency,Public Records On File,Months Since Last Record,Education,Employment Length,Code
0,87023,7500.0,7500.0,13.75,36,2007-06-07,2007-06-21,2007-06-27,E2,Consolidation Loan,...,0.0,0.0,0.0,1.0,11.0,0.0,0.0,NaN,< 1 year,NaN
1,90376,5000.0,5000.0,7.43,36,2007-06-12,2007-06-26,2007-07-02,A2,JAL Loan,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,< 1 year,NaN
2,90395,5000.0,5000.0,8.07,36,2007-06-12,2007-06-26,2007-07-02,A4,MBA Loan Consolidation,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,< 1 year,NaN
3,90665,8500.0,8500.0,10.28,36,2007-06-13,2007-06-27,2007-07-03,C1,Retiring credit card debt,...,1.0,0.0,0.0,1.0,5.0,0.0,0.0,NaN,3 years,NaN
4,92187,2500.0,2500.0,8.07,36,2007-06-15,2007-06-29,2007-07-05,A4,Home Improvement,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,4 years,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29954,843071,35000.0,10375.0,20.99,60,2011-08-05,2011-08-19,2011-08-22,F3,landscaping and pool,...,0.0,0.0,0.0,1.0,11.0,0.0,NaN,NaN,2 years,490265.0
30086,820281,29800.0,28975.0,10.99,36,2011-08-08,2011-08-22,2011-08-25,B3,Other Loan,...,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,10+ years,449370.0
30301,848888,10000.0,10000.0,8.49,36,2011-08-11,2011-08-25,2011-08-24,A5,Loan 1,...,0.0,0.0,0.0,0.0,NaN,1.0,89.0,NaN,2 years,1008.0
30518,852793,23675.0,23675.0,12.99,60,2011-08-15,2011-08-29,2011-08-29,C1,Payoff and Rv,...,3.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,4 years,449382.0
30916,859754,7000.0,7000.0,13.99,36,2011-08-21,2011-09-04,2011-08-29,C3,Med bills,...,2.0,0.0,0.0,1.0,19.0,0.0,NaN,NaN,2 years,449370.0

In [181]:
data.rename(columns = {'Delinquent Amount':'Delinquent_Amount'}, inplace = True)

In [182]:
print(data['Amount Funded By Investors'])

0         7500.0
1         5000.0
2         5000.0
3         8500.0
4         2500.0
          ...
29954    10375.0
30086    28975.0
30301    10000.0
30518    23675.0
30916     7000.0
Name: Amount Funded By Investors, Length: 4572, dtype: float64

In [183]:
print("Monthly PAYMENT : ", end='')

Monthly PAYMENT :

In [185]:
print(data['Monthly PAYMENT'].dtype)

print("Monthly Income : ", end='')
print(data['Monthly Income'].dtype)

print("Open CREDIT Lines : ", end='')
print(data['Open CREDIT Lines'].dtype)

print("Total CREDIT Lines : ", end='')
print(data['Total CREDIT Lines'].dtype)

print("Revolving CREDIT Balance : ", end='')
print(data['Revolving CREDIT Balance'].dtype)

print("Inquiries in the Last 6 Months : ", end='')
print(data['Inquiries in the Last 6 Months'].dtype)

print("Delinquencies (Last 2 yrs) : ", end='')
print(data['Delinquencies (Last 2 yrs)'].dtype)

print("Public Records On File : ", end='')
print(data['Public Records On File'].dtype)

print("Months Since Last Record : ", end='')
print(data['Months Since Last Record'].dtype)

float64
Monthly Income : float64
Open CREDIT Lines : float64
Total CREDIT Lines : float64
Revolving CREDIT Balance : float64
Inquiries in the Last 6 Months : float64
Delinquencies (Last 2 yrs) : float64
Public Records On File : float64
Months Since Last Record : float64

In [186]:
print("Sample values in the attribute - Earliest CREDIT Line\n")

Sample values in the attribute - Earliest CREDIT Line

In [187]:
print(data['Earliest CREDIT Line'])

0       2003-10-27
1       1988-11-19
2       1998-10-28
3       1986-12-30
4       1990-11-11
           ...
29954   1991-01-22
30086   1990-02-08
30301   1993-08-15
30518   1998-07-24
30916   1993-05-27
Name: Earliest CREDIT Line, Length: 4572, dtype: datetime64[ns]

In [188]:
print("Sample values in the attribute - Interest Rate\n")

Sample values in the attribute - Interest Rate

In [189]:
print(data['Interest Rate'])

0        13.75
1         7.43
2         8.07
3        10.28
4         8.07
         ...
29954    20.99
30086    10.99
30301     8.49
30518    12.99
30916    13.99
Name: Interest Rate, Length: 4572, dtype: float64

In [190]:
data.rename(columns = {'FICO Range':'FICO_Range'}, inplace = True)

In [191]:
data

,Loan ID,Amount Requested,Amount Funded By Investors,Interest Rate,Loan Length,Application Date,Application Expiration Date,Issued Date,CREDIT_GRADE_1,Loan Title,...,Inquiries in the Last 6 Months,Accounts Now Delinquent,Delinquent_Amount,Delinquencies (Last 2 yrs),Months Since Last Delinquency,Public Records On File,Months Since Last Record,Education,Employment Length,Code
0,87023,7500.0,7500.0,13.75,36,2007-06-07,2007-06-21,2007-06-27,E2,Consolidation Loan,...,0.0,0.0,0.0,1.0,11.0,0.0,0.0,NaN,< 1 year,NaN
1,90376,5000.0,5000.0,7.43,36,2007-06-12,2007-06-26,2007-07-02,A2,JAL Loan,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,< 1 year,NaN
2,90395,5000.0,5000.0,8.07,36,2007-06-12,2007-06-26,2007-07-02,A4,MBA Loan Consolidation,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,< 1 year,NaN
3,90665,8500.0,8500.0,10.28,36,2007-06-13,2007-06-27,2007-07-03,C1,Retiring credit card debt,...,1.0,0.0,0.0,1.0,5.0,0.0,0.0,NaN,3 years,NaN
4,92187,2500.0,2500.0,8.07,36,2007-06-15,2007-06-29,2007-07-05,A4,Home Improvement,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,4 years,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29954,843071,35000.0,10375.0,20.99,60,2011-08-05,2011-08-19,2011-08-22,F3,landscaping and pool,...,0.0,0.0,0.0,1.0,11.0,0.0,NaN,NaN,2 years,490265.0
30086,820281,29800.0,28975.0,10.99,36,2011-08-08,2011-08-22,2011-08-25,B3,Other Loan,...,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,10+ years,449370.0
30301,848888,10000.0,10000.0,8.49,36,2011-08-11,2011-08-25,2011-08-24,A5,Loan 1,...,0.0,0.0,0.0,0.0,NaN,1.0,89.0,NaN,2 years,1008.0
30518,852793,23675.0,23675.0,12.99,60,2011-08-15,2011-08-29,2011-08-29,C1,Payoff and Rv,...,3.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,4 years,449382.0
30916,859754,7000.0,7000.0,13.99,36,2011-08-21,2011-09-04,2011-08-29,C3,Med bills,...,2.0,0.0,0.0,1.0,19.0,0.0,NaN,NaN,2 years,449370.0

In [192]:
print("Display unique values of the attribute : FICO_Range")

Display unique values of the attribute : FICO_Range

In [193]:
print(data.FICO_Range.unique())

['660-678' '780+' '714-749' '679-713' '750-779' nan]

In [194]:
data["FICO_Range"] = data["FICO_Range"].map({"640-659":6,"660-678":5,"679-713":4,"714-749":3,"750-779":2,"780+":1})

#print the unique values after mapping
print("Display unique values of the attribute : FICO_Range after mapping :")
print(data.FICO_Range.unique())

#replace the nan values with 3
data['FICO_Range'] = data['FICO_Range'].fillna(3)

#display the processed values
print("\n\nDisplay unique values of the attribute : FICO_Range after filling nan")
print(data.FICO_Range.unique())

Display unique values of the attribute : FICO_Range after mapping :
[ 5.  1.  3.  4.  2. nan]


Display unique values of the attribute : FICO_Range after filling nan
[5. 1. 3. 4. 2.]

In [197]:
for item in data.Education.unique()[:5]:
    print(item)

nan
Youngstown State University
University of Connecticut
Rochester Institute of Technology (RIT)
Penn State-University Park

In [198]:
data['Education'] = data['Education'].fillna(0)

In [199]:
data

,Loan ID,Amount Requested,Amount Funded By Investors,Interest Rate,Loan Length,Application Date,Application Expiration Date,Issued Date,CREDIT_GRADE_1,Loan Title,...,Inquiries in the Last 6 Months,Accounts Now Delinquent,Delinquent_Amount,Delinquencies (Last 2 yrs),Months Since Last Delinquency,Public Records On File,Months Since Last Record,Education,Employment Length,Code
0,87023,7500.0,7500.0,13.75,36,2007-06-07,2007-06-21,2007-06-27,E2,Consolidation Loan,...,0.0,0.0,0.0,1.0,11.0,0.0,0.0,0,< 1 year,NaN
1,90376,5000.0,5000.0,7.43,36,2007-06-12,2007-06-26,2007-07-02,A2,JAL Loan,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,< 1 year,NaN
2,90395,5000.0,5000.0,8.07,36,2007-06-12,2007-06-26,2007-07-02,A4,MBA Loan Consolidation,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,< 1 year,NaN
3,90665,8500.0,8500.0,10.28,36,2007-06-13,2007-06-27,2007-07-03,C1,Retiring credit card debt,...,1.0,0.0,0.0,1.0,5.0,0.0,0.0,0,3 years,NaN
4,92187,2500.0,2500.0,8.07,36,2007-06-15,2007-06-29,2007-07-05,A4,Home Improvement,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,4 years,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29954,843071,35000.0,10375.0,20.99,60,2011-08-05,2011-08-19,2011-08-22,F3,landscaping and pool,...,0.0,0.0,0.0,1.0,11.0,0.0,NaN,0,2 years,490265.0
30086,820281,29800.0,28975.0,10.99,36,2011-08-08,2011-08-22,2011-08-25,B3,Other Loan,...,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0,10+ years,449370.0
30301,848888,10000.0,10000.0,8.49,36,2011-08-11,2011-08-25,2011-08-24,A5,Loan 1,...,0.0,0.0,0.0,0.0,NaN,1.0,89.0,0,2 years,1008.0
30518,852793,23675.0,23675.0,12.99,60,2011-08-15,2011-08-29,2011-08-29,C1,Payoff and Rv,...,3.0,0.0,0.0,0.0,NaN,0.0,NaN,0,4 years,449382.0
30916,859754,7000.0,7000.0,13.99,36,2011-08-21,2011-09-04,2011-08-29,C3,Med bills,...,2.0,0.0,0.0,1.0,19.0,0.0,NaN,0,2 years,449370.0

In [200]:
def repl_str(x):
    if x==0:
        return 0
    else:
        return 1

In [201]:
data['Education'] = data['Education'].apply(repl_str)

In [202]:
print("Display unique values of the attribute : Education after processing\n")

Display unique values of the attribute : Education after processing

In [203]:
print(data.Education.unique())

[0 1]

In [204]:
print("\n\nSample values of the attribute :  Education after processing\n")

Sample values of the attribute :  Education after processing

In [205]:
print(data['Education'])

0        0
1        0
2        0
3        0
4        0
        ..
29954    0
30086    0
30301    0
30518    0
30916    0
Name: Education, Length: 4572, dtype: int64

In [206]:
data.rename(columns = {'Employment Length':'Employment_Length'}, inplace = True)

In [207]:
print("Display unique values of attribute : Employment Length\n")

Display unique values of attribute : Employment Length

In [208]:
print(data.Employment_Length.unique())

['< 1 year' '3 years' '4 years' '5 years' '1 year' '2 years' '8 years'
 '7 years' '9 years' '6 years' '10+ years' nan]

In [209]:
data["Employment_Length"] = data["Employment_Length"].map({'< 1 year':1, '3 years':4, '4 years':5, '5 years':6, '1 year':2, '2 years':3, '8 years':9, '7 years':8, '6 years':7, '9 years':10, '10+ years':11})

Display unique values of attribute : Employment Length after processing

[ 1.  4.  5.  6.  2.  3.  9.  8. 10.  7. 11.  0.]

In [210]:
data["Employement_Length"] = data['Employment_Length'].map({'<1 year':1, '3 years':4, '4 years':5, '5 years':6,'1 year':2,'2 years':3, '8 years':9, '7 years':8, '6 years':7, '9 years':10, '10+years':11})

In [211]:
data

,Loan ID,Amount Requested,Amount Funded By Investors,Interest Rate,Loan Length,Application Date,Application Expiration Date,Issued Date,CREDIT_GRADE_1,Loan Title,...,Accounts Now Delinquent,Delinquent_Amount,Delinquencies (Last 2 yrs),Months Since Last Delinquency,Public Records On File,Months Since Last Record,Education,Employment_Length,Code,Employement_Length
0,87023,7500.0,7500.0,13.75,36,2007-06-07,2007-06-21,2007-06-27,E2,Consolidation Loan,...,0.0,0.0,1.0,11.0,0.0,0.0,0,1.0,NaN,NaN
1,90376,5000.0,5000.0,7.43,36,2007-06-12,2007-06-26,2007-07-02,A2,JAL Loan,...,0.0,0.0,0.0,0.0,0.0,0.0,0,1.0,NaN,NaN
2,90395,5000.0,5000.0,8.07,36,2007-06-12,2007-06-26,2007-07-02,A4,MBA Loan Consolidation,...,0.0,0.0,0.0,0.0,0.0,0.0,0,1.0,NaN,NaN
3,90665,8500.0,8500.0,10.28,36,2007-06-13,2007-06-27,2007-07-03,C1,Retiring credit card debt,...,0.0,0.0,1.0,5.0,0.0,0.0,0,4.0,NaN,NaN
4,92187,2500.0,2500.0,8.07,36,2007-06-15,2007-06-29,2007-07-05,A4,Home Improvement,...,0.0,0.0,0.0,0.0,0.0,0.0,0,5.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29954,843071,35000.0,10375.0,20.99,60,2011-08-05,2011-08-19,2011-08-22,F3,landscaping and pool,...,0.0,0.0,1.0,11.0,0.0,NaN,0,3.0,490265.0,NaN
30086,820281,29800.0,28975.0,10.99,36,2011-08-08,2011-08-22,2011-08-25,B3,Other Loan,...,0.0,0.0,0.0,NaN,0.0,NaN,0,11.0,449370.0,NaN
30301,848888,10000.0,10000.0,8.49,36,2011-08-11,2011-08-25,2011-08-24,A5,Loan 1,...,0.0,0.0,0.0,NaN,1.0,89.0,0,3.0,1008.0,NaN
30518,852793,23675.0,23675.0,12.99,60,2011-08-15,2011-08-29,2011-08-29,C1,Payoff and Rv,...,0.0,0.0,0.0,NaN,0.0,NaN,0,5.0,449382.0,NaN
30916,859754,7000.0,7000.0,13.99,36,2011-08-21,2011-09-04,2011-08-29,C3,Med bills,...,0.0,0.0,1.0,19.0,0.0,NaN,0,3.0,449370.0,NaN

In [212]:
print(data.Employment_Length.unique())

[ 1.  4.  5.  6.  2.  3.  9.  8. 10.  7. 11.  0.]

In [213]:
print("Number of unique Loan Purpose in the dataset : ")

Number of unique Loan Purpose in the dataset :

In [214]:
print(data['Loan Purpose'].unique().shape[0])

14

In [216]:
print(data['Loan Purpose'].unique().shape[0])

14

In [217]:
print(data['Loan Purpose'].value_counts())

debt_consolidation    1882
credit_card            626
other                  558
home_improvement       347
major_purchase         282
small_business         216
car                    166
wedding                129
educational            107
medical                 85
house                   65
moving                  63
vacation                34
renewable_energy        12
Name: Loan Purpose, dtype: int64

In [218]:
print(data['Loan Purpose'].value_counts())

debt_consolidation    1882
credit_card            626
other                  558
home_improvement       347
major_purchase         282
small_business         216
car                    166
wedding                129
educational            107
medical                 85
house                   65
moving                  63
vacation                34
renewable_energy        12
Name: Loan Purpose, dtype: int64

In [219]:
print("Total number of unique City names present in the dataset : ")

Total number of unique City names present in the dataset :

In [220]:
print(data.City.unique().shape[0])

2517

In [221]:
print("Total number of unique State names present in the dataset : ")

Total number of unique State names present in the dataset :

In [222]:
print(data.City.unique().shape[0])

2517

In [223]:
print(data.State.unique().shape[0])

50

In [224]:
print("Number of unique Loan Titles in the dataset : ")

Number of unique Loan Titles in the dataset :

In [225]:
print(data['Loan Title'].unique().shape[0])

3351

In [226]:
data = data.fillna(data.mean())

In [227]:
data_copy = data.copy()

In [231]:
dcolumns = ['Loan ID', 'Amount Funded By Investors','Loan Title','Loan Purpose',
            'Loan Description','Total Amount Funded','Remaining Principal Funded by Investors',
            'Payments To Date (Funded by investors)',
            'Screen Name','City','Code' ,'Application Date', 'Application Expiration Date', 'Issued Date','Earliest CREDIT Line',
           'Inquiries in the Last 6 Months','Accounts Now Delinquent','Delinquent Amount','Delinquencies (Last 2 yrs)',
            'Months Since Last Delinquency','Public Records On File','Months Since Last Record',
           'State','Home_Ownership','FICO_Range','Education','Employment_Length']

In [235]:
print("Remaining columns after selection : \n")

Remaining columns after selection :

In [236]:
for item in data.columns.values:
     print(item)

Loan ID
Amount Requested
Amount Funded By Investors
Interest Rate
Loan Length
Application Date
Application Expiration Date
Issued Date
CREDIT_GRADE_1
Loan Title
Loan Purpose
Loan Description
Monthly PAYMENT
Status
Total Amount Funded
Debt-To-Income Ratio
Remaining Principal Funded by Investors
Payments To Date (Funded by investors)
Remaining Principal
 Payments To Date
Screen Name
City
State
Home_Ownership
Monthly Income
FICO_Range
Earliest CREDIT Line
Open CREDIT Lines
Total CREDIT Lines
Revolving CREDIT Balance
Revolving Line Utilization
Inquiries in the Last 6 Months
Accounts Now Delinquent
Delinquent_Amount
Delinquencies (Last 2 yrs)
Months Since Last Delinquency
Public Records On File
Months Since Last Record
Education
Employment_Length
Code
Employement_Length

In [238]:
data.isna().sum()

Loan ID                                       0
Amount Requested                              0
Amount Funded By Investors                    0
Interest Rate                                 0
Loan Length                                   0
Application Date                              0
Application Expiration Date                   0
Issued Date                                   0
CREDIT_GRADE_1                                0
Loan Title                                    1
Loan Purpose                                  0
Loan Description                            693
Monthly PAYMENT                               0
Status                                        0
Total Amount Funded                           0
Debt-To-Income Ratio                          0
Remaining Principal Funded by Investors       0
Payments To Date (Funded by investors)        0
Remaining Principal                           0
 Payments To Date                             0
Screen Name                                   1
City                                          0
State                                         0
Home_Ownership                                0
Monthly Income                                0
FICO_Range                                    0
Earliest CREDIT Line                          0
Open CREDIT Lines                             0
Total CREDIT Lines                            0
Revolving CREDIT Balance                      0
Revolving Line Utilization                    0
Inquiries in the Last 6 Months                0
Accounts Now Delinquent                       0
Delinquent_Amount                             0
Delinquencies (Last 2 yrs)                    0
Months Since Last Delinquency                 0
Public Records On File                        0
Months Since Last Record                      0
Education                                     0
Employment_Length                             0
Code                                          0
Employement_Length                         4572
dtype: int64

In [240]:
data['Education']= data['Education'].fillna(0)

In [241]:
def repl_str(x):
    if x==0:
        return 0
    else:
        return 1 
    
data['Education'] = data['Education'].apply(repl_str)

In [242]:
print("Display unique values of the attribute : Education after processing\n")

Display unique values of the attribute : Education after processing

In [243]:
print(data.Education.unique())

[0 1]

In [244]:
print("\n\nSample values of the attribute :  Education after processing\n")

Sample values of the attribute :  Education after processing

In [245]:
print(data['Education'])

0        0
1        0
2        0
3        0
4        0
        ..
29954    0
30086    0
30301    0
30518    0
30916    0
Name: Education, Length: 4572, dtype: int64

In [246]:
data = data.fillna(data.mean())

In [247]:
data_copy = data.copy()

In [250]:
dcolumns = ['Loan ID', 'Amount Funded By Investors','Loan Title','Loan Purpose',
            'Loan Description','Total Amount Funded','Remaining Principal Funded by Investors',
            'Payments To Date (Funded by investors)',
            'Screen Name','City','Code' ,'Application Date', 'Application Expiration Date', 'Issued Date','Earliest CREDIT Line',
           'Inquiries in the Last 6 Months','Accounts Now Delinquent','Delinquent Amount','Delinquencies (Last 2 yrs)',
            'Months Since Last Delinquency','Public Records On File','Months Since Last Record',
           'CREDIT_GRADE','State','Home_Ownership','FICO_Range','Education','Employment_Length']

KeyError: "['Delinquent Amount' 'CREDIT_GRADE'] not found in axis"

In [255]:
dcolumns = ['Loan ID', 'Amount Funded By Investors','Loan Title','Loan Purpose',
            'Loan Description','Total Amount Funded','Remaining Principal Funded by Investors',
            'Payments To Date (Funded by investors)',
            'Screen Name','City','Code' ,'Application Date', 'Application Expiration Date', 'Issued Date','Earliest CREDIT Line',
           'Inquiries in the Last 6 Months','Accounts Now Delinquent','Delinquent Amount','Delinquencies (Last 2 yrs)',
            'Months Since Last Delinquency','Public Records On File','Months Since Last Record',
           'CREDIT_Grade','State','Home_Ownership','FICO_Range','Education','Employment_Length']

In [259]:
data = data.drop(dcolumns, axis=1)

KeyError: "['Delinquent Amount' 'CREDIT_Grade'] not found in axis"

In [260]:
print("Remaining columns after selection : \n")

Remaining columns after selection :

In [261]:
for item in data.columns.values:
    print(item)

Loan ID
Amount Requested
Amount Funded By Investors
Interest Rate
Loan Length
Application Date
Application Expiration Date
Issued Date
CREDIT_GRADE_1
Loan Title
Loan Purpose
Loan Description
Monthly PAYMENT
Status
Total Amount Funded
Debt-To-Income Ratio
Remaining Principal Funded by Investors
Payments To Date (Funded by investors)
Remaining Principal
 Payments To Date
Screen Name
City
State
Home_Ownership
Monthly Income
FICO_Range
Earliest CREDIT Line
Open CREDIT Lines
Total CREDIT Lines
Revolving CREDIT Balance
Revolving Line Utilization
Inquiries in the Last 6 Months
Accounts Now Delinquent
Delinquent_Amount
Delinquencies (Last 2 yrs)
Months Since Last Delinquency
Public Records On File
Months Since Last Record
Education
Employment_Length
Code
Employement_Length

In [262]:
data.isna().sum()

Loan ID                                       0
Amount Requested                              0
Amount Funded By Investors                    0
Interest Rate                                 0
Loan Length                                   0
Application Date                              0
Application Expiration Date                   0
Issued Date                                   0
CREDIT_GRADE_1                                0
Loan Title                                    1
Loan Purpose                                  0
Loan Description                            693
Monthly PAYMENT                               0
Status                                        0
Total Amount Funded                           0
Debt-To-Income Ratio                          0
Remaining Principal Funded by Investors       0
Payments To Date (Funded by investors)        0
Remaining Principal                           0
 Payments To Date                             0
Screen Name                                   1
City                                          0
State                                         0
Home_Ownership                                0
Monthly Income                                0
FICO_Range                                    0
Earliest CREDIT Line                          0
Open CREDIT Lines                             0
Total CREDIT Lines                            0
Revolving CREDIT Balance                      0
Revolving Line Utilization                    0
Inquiries in the Last 6 Months                0
Accounts Now Delinquent                       0
Delinquent_Amount                             0
Delinquencies (Last 2 yrs)                    0
Months Since Last Delinquency                 0
Public Records On File                        0
Months Since Last Record                      0
Education                                     0
Employment_Length                             0
Code                                          0
Employement_Length                         4572
dtype: int64

In [263]:
samples = data.tail(1000)

In [264]:
print("1000 sample profiles copied from the dataset : ")

1000 sample profiles copied from the dataset :

In [265]:
data = data.iloc[:-1000]

In [266]:
print("1000 profiles removed from the dataset... ")

1000 profiles removed from the dataset...

In [267]:
status = data['Status']

In [268]:
other_att = data.drop(['Status'], axis=1)

In [270]:
other_att

,Loan ID,Amount Requested,Amount Funded By Investors,Interest Rate,Loan Length,Application Date,Application Expiration Date,Issued Date,CREDIT_GRADE_1,Loan Title,...,Accounts Now Delinquent,Delinquent_Amount,Delinquencies (Last 2 yrs),Months Since Last Delinquency,Public Records On File,Months Since Last Record,Education,Employment_Length,Code,Employement_Length
0,87023,7500.0,7500.0,13.75,36,2007-06-07,2007-06-21,2007-06-27,E2,Consolidation Loan,...,0.0,0.0,1.0,11.000000,0.0,0.000000,0,1.0,255576.199616,NaN
1,90376,5000.0,5000.0,7.43,36,2007-06-12,2007-06-26,2007-07-02,A2,JAL Loan,...,0.0,0.0,0.0,0.000000,0.0,0.000000,0,1.0,255576.199616,NaN
2,90395,5000.0,5000.0,8.07,36,2007-06-12,2007-06-26,2007-07-02,A4,MBA Loan Consolidation,...,0.0,0.0,0.0,0.000000,0.0,0.000000,0,1.0,255576.199616,NaN
3,90665,8500.0,8500.0,10.28,36,2007-06-13,2007-06-27,2007-07-03,C1,Retiring credit card debt,...,0.0,0.0,1.0,5.000000,0.0,0.000000,0,4.0,255576.199616,NaN
4,92187,2500.0,2500.0,8.07,36,2007-06-15,2007-06-29,2007-07-05,A4,Home Improvement,...,0.0,0.0,0.0,0.000000,0.0,0.000000,0,5.0,255576.199616,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11663,543975,22000.0,14200.0,17.19,60,2010-07-08,2010-07-22,2010-07-23,E3,Student Loan,...,0.0,0.0,0.0,29.594859,0.0,25.536554,0,6.0,255576.199616,NaN
11666,543974,10200.0,10200.0,15.21,36,2010-07-08,2010-07-22,2010-07-14,D2,Debt Consolidation small loan,...,0.0,0.0,0.0,58.000000,0.0,25.536554,0,11.0,449370.000000,NaN
11686,544273,6000.0,6000.0,14.84,36,2010-07-09,2010-07-23,2010-07-19,D1,Leslie debt free,...,0.0,0.0,1.0,7.000000,0.0,25.536554,0,3.0,72177.000000,NaN
11687,542945,15250.0,15250.0,17.19,60,2010-07-09,2010-07-23,2010-07-20,E3,Refinance Loan,...,0.0,0.0,0.0,70.000000,0.0,25.536554,0,11.0,449370.000000,NaN
11688,541818,4500.0,4500.0,7.14,36,2010-07-09,2010-07-23,2010-07-13,A3,"Adios, Credit Cards!",...,0.0,0.0,0.0,29.594859,0.0,25.536554,0,4.0,255576.199616,NaN

In [271]:
status.reset_index(inplace=True,drop=True)

In [272]:
status

0       Fully Paid
1       Fully Paid
2       Fully Paid
3       Fully Paid
4       Fully Paid
           ...
3567    Fully Paid
3568    Fully Paid
3569    Fully Paid
3570    Fully Paid
3571    Fully Paid
Name: Status, Length: 3572, dtype: object

In [275]:
scaler = MinMaxScaler()

In [278]:
test_list=[0.5, 0.4, 0.3, 0.2, 0.1]

In [277]:
k_list=[14]

NameError: name 'X' is not defined

In [279]:
f1_train_list=[]

In [280]:
f1_test_list=[]

In [281]:
print("Calculating f1 score on various parameters : ")

Calculating f1 score on various parameters :

In [282]:
for k in k_list :   
    print("")
    for num in test_list:
        #split the dataset into train-test
        X_train, X_test, y_train, y_test = train_test_split(X, status, test_size=num, random_state=1)

NameError: name 'k_list' is not defined

In [283]:
KNN.fit(X_train,y_train)

NameError: name 'KNN' is not defined

In [284]:
test_list=[0.1, 0.2, 0.3, 0.4, 0.5]
f1_train_list=[]
f1_test_list=[]
print("Calculating f1 score on various parameters : ")
for num in test_list:
    #split the dataset into train-test
    X_train, X_test, y_train, y_test = train_test_split(X, status, test_size=num, random_state=1)

    #create a model object
    KNN = KNN = KNeighborsClassifier(n_neighbors=14)
    #train the model
    KNN.fit(X_train,y_train)

    #make predictions
    KNNPredict_train = KNN.predict(X_train)
    KNNPredict_test = KNN.predict(X_test)
 
    #calculate the F1 score of the model
    
    f1_train=f1_score(y_train,KNNPredict_train, average='weighted')
    f1_test=f1_score(y_test,KNNPredict_test, average='weighted')
    
    f1_train_list.append(f1_train)
    f1_test_list.append(f1_test)    
    
    
    print("f1 score of the KNN Model on train data at",num,": ",f1_train)
    print("f1 score of the KNN Model on test data at",num,": ",f1_test)
    print("")

# plot the graph - f1 score against the test-data size
plt.plot(test_list, f1_train_list,'r') 
plt.plot(test_list, f1_test_list,'b') 
plt.xlabel('Testing data size') 
plt.ylabel('f1 score') 
plt.title('KNN Model f1 score with variable testing data size') 
plt.legend({'test','train'})
plt.show()

Calculating f1 score on various parameters :

NameError: name 'X' is not defined

In [285]:
X_train, X_test, y_train, y_test = train_test_split(X, status, test_size=0.2, random_state=1) # 80% training and 20% test
#train the model
KNN_w = KNN = KNeighborsClassifier(n_neighbors=14)

#train the model on the train data
KNN_w.fit(X_train,y_train)

#make predictions
KNNPredict_train_w = KNN_w.predict(X_train)
KNNPredict_test_w = KNN_w.predict(X_test)

#calculate the F1 score of the model
f1_train=f1_score(y_train,KNNPredict_train_w, average='weighted')
f1_test=f1_score(y_test,KNNPredict_test_w, average='weighted')
   
#display f1 score
print("F1 score of the KNN Model on train data : ",round(f1_train,3))
print("F1 score of the KNN Model on test data : ",round(f1_test,3)

SyntaxError: unexpected EOF while parsing (Temp/ipykernel_8984/4157471919.py, line 18)

In [286]:
matrix = confusion_matrix(y_train,KNNPredict_train_w)

NameError: name 'y_train' is not defined

In [287]:
print(matrix)

NameError: name 'matrix' is not defined